<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Smartbox_Smartboxparcels>
			<version>1.1.0</version>
		</Smartbox_Smartboxparcels>
	</modules>
	<global>
		<!--Define all blocks first here then start using them -->
		<blocks>
			<smartbox_smartboxparcels>
				<class>Smartbox_Smartboxparcels_Block</class>
			</smartbox_smartboxparcels>
		</blocks>
		<!--Define all models first here then start using them anywhere else e.g. in observers etc -->
		<models>
			<smartbox_smartboxparcels>
				<class>Smartbox_Smartboxparcels_Model</class>
				<resourceModel>smartbox_smartboxparcels_resource</resourceModel>
			</smartbox_smartboxparcels>
			<smartbox_smartboxparcels_resource>
				<class>Smartbox_Smartboxparcels_Model_Resource</class>
				<entities>
					<smartboxparcels>
						<table>order_shipping_smartboxparcels</table>
					</smartboxparcels>
				</entities>
			</smartbox_smartboxparcels_resource>
		</models>
		<!--Define all helper first then use it -->
		<helpers>
            <smartbox_smartboxparcels>
                <class>Smartbox_Smartboxparcels_Helper</class>
            </smartbox_smartboxparcels>
        </helpers>
		<resources>
			<smartboxparcels_setup>
				<setup>
					<module>Smartbox_Smartboxparcels</module>
					<connection>
			            <use>core_setup</use>
			        </connection>
				</setup>
			</smartboxparcels_setup>
			<smartboxparcels_write>
				<connection>
					<use>core_write</use>
				</connection>
			</smartboxparcels_write>
			<smartboxparcels_read>
				<connection>
					<use>core_read</use>
				</connection>
			</smartboxparcels_read>
		</resources>
        <events>
            <!-- Check if the payment method is active in the backend or not -->
            <payment_method_is_active>
                <observers>
                    <smartbox_smartboxparcels_payment_method_is_active>
                    <type>singleton</type>
                    <class>smartbox_smartboxparcels/observer</class>
                    <method>filterpaymentmethod</method>
                    </smartbox_smartboxparcels_payment_method_is_active>
                </observers>
            </payment_method_is_active>

        </events>
	</global>
	<frontend>
		<events>
		<!--Step 1 Insert Ship to Smartbox Option -->
		<core_block_abstract_to_html_after>
			<observers>
				<smartbox_smartboxparcels_shipping_address>
					<class>smartbox_smartboxparcels/observer</class>
					<method>insertShipToSmartbox</method>
				</smartbox_smartboxparcels_shipping_address>
			</observers>
		</core_block_abstract_to_html_after>
		<!-- Step 2 Skip Shipping Information if Smartbox Option Selected at Billing Information -->
		<controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <smartbox_smartboxparcels>
                        <class>smartbox_smartboxparcels/observer</class>
                        <method>skipShippingInformation</method>
                    </smartbox_smartboxparcels>
                </observers>
        </controller_action_predispatch_checkout_onepage_saveBilling>
        <!-- Step 3 Insert Smartbox shipping method after available methods -->
        <core_block_abstract_to_html_after>
        	<observers>
        		<smartbox_smartboxparcels_shipping_method>
        			<type>singleton</type>
        			<class>smartbox_smartboxparcels/observer</class>
        			<method>insertSmartboxMarkup</method>
        		</smartbox_smartboxparcels_shipping_method>
        	</observers>
        </core_block_abstract_to_html_after>
		<!-- Step 4 Event When the user saved the shipping method capture Smartbox Terminal -->
        <checkout_controller_onepage_save_shipping_method>
            <observers>
                <smartbox_smartboxparcels>
                    <type>singleton</type>
                    <class>smartbox_smartboxparcels/observer</class>
                    <method>captureTerminalFromShippingMethod</method>
                </smartbox_smartboxparcels>
            </observers>
        </checkout_controller_onepage_save_shipping_method>
		<!-- Alter the progress block on the default Enterprise checkout -->
            <core_block_abstract_to_html_before>
                <observers>
                    <smartbox_smartboxparcels_change_progress>
                        <type>singleton</type>
                        <class>smartbox_smartboxparcels/observer</class>
                        <method>modifyShippingMethodProgress</method>
                    </smartbox_smartboxparcels_change_progress>
                </observers>
            </core_block_abstract_to_html_before>    
        <!-- Step After Payment Method is Selected check if CSOD is selected -->
        <sales_quote_payment_import_data_before>
            <observers>
                <smartbox_smartboxparcels>
                    <type>singleton</type>
                    <class>smartbox_smartboxparcels/observer</class>
                    <method>checkPaymentMethod</method>
                </smartbox_smartboxparcels>
            </observers>
        </sales_quote_payment_import_data_before>
        <!-- Step 5 Before Quote Submission swap the shipping address with Smartbox Terminal Address -->
        <sales_model_service_quote_submit_success>
                <observers>
                    <smartbox_smartboxparcels>
                        <type>singleton</type>
                        <class>smartbox_smartboxparcels/observer</class>
                        <method>changeToSmartboxTerminalAddress</method>
                    </smartbox_smartboxparcels>
                </observers>
        </sales_model_service_quote_submit_success>
        <!-- Step 6 Now Insert Orders values in Smartbox Database -->
        <sales_model_service_quote_submit_after>
        	<observers>
        		<smartbox_smartboxparcels>
        			<type>model</type>
        			<class>smartbox_smartboxparcels/observer</class>
        			<method>insertSmartboxOrdersInDb</method>
        		</smartbox_smartboxparcels>
        	</observers>
        </sales_model_service_quote_submit_after>
			</events>
			<layout>
				<updates>
					<smartbox_smartboxparcels module="Smartbox_Smartboxparcels">
						<file>smartbox/smartboxparcels/layout.xml</file>
					</smartbox_smartboxparcels>
				</updates>
			</layout>
			<routers>
	            <smartbox>
	                <use>standard</use>
	                <args>
	                    <module>Smartbox_Smartboxparcels</module>
	                    <frontName>smartbox</frontName>
	                </args>
	            </smartbox>
	        </routers>
	</frontend>

	<!-- Basic setup for our shipping method -->
    <default>
        <carriers>
            <smartbox_smartboxparcels>
                <active>0</active>
                <model>smartbox_smartboxparcels/carrier</model>
                <title>Self pick-up service</title>

                <name>Smartbox</name>
                <more_information><![CDATA[<h3>What is Smartbox?</h3><p>Now you dont have to worry whether you will be available at home or office to take the delivery.  Smartbox is a FREE service of an automated parcel locker where you can pick-up your deliveries 24 hours a day. If selected at the time of check out – the courier person will make the delivery on the Smartbox which will automatically send an OTP on your mobile as soon as your parcel arrives.  Simply walk up to that Smartbox terminal and use the OTP to pick-up the parcel as per your convenience. </p><p><strong>Note:</strong> Smartbox can also be used for COD orders since you may pay at the time of pick-up using any of your debit or credit cards.</p>For more details visit <strong>www.smartbox.in</strong>]]></more_information>
                <type>I</type>
                <price>0.00</price>

                <environment>staging</environment>

                
                <staging_api><![CDATA[http://admin.smartbox.in:8080/api/v1/]]></staging_api>
                <production_api><![CDATA[http://admin.smartbox.in:8080/api/v1/]]></production_api>

                <!-- We force this shipping method to be last to be next to our injected block -->
                <sort_order>9999999999</sort_order>

                <sallowspecific>0</sallowspecific>
            </smartbox_smartboxparcels>
        </carriers>
        <payment>
            <smartbox_smartboxcsod>
                <active>1</active>
                <model>smartbox_smartboxparcels/smartboxcsod</model>
                <order_status>pending</order_status>
                <title>Smartbox CSOD (Card Swipe on Delivery)</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <selection_message><![CDATA[<p>Smartbox can also be used for COD orders since you may pay at the time of pick-up using any of your debit or credit cards.</p>
<p>We accept all major debit and credit cards.</p>
<img src="https://smartbox.in/assets/img/smartbox_csod.png" width="170" style="display: inline;">]]>
                </selection_message>
            </smartbox_smartboxcsod>
        </payment>
    </default>
    <admin>
        <routers>
            <smartbox_smartboxparcels>
                <use>admin</use>
                <args>
                    <module>Smartbox_Smartboxparcels</module>
                    <frontName>smartboxparcels</frontName>
                </args>
            </smartbox_smartboxparcels>
        </routers>
    </admin>
	<adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <smartbox_smartboxparcels translate="title" module="smartbox_smartboxparcels">
                                            <title>Smartbox Settings</title>
                                        </smartbox_smartboxparcels>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                    <children>
                        <sales>
                            <children>
                                <smartboxparcels_adminform>
                                    <title>Smartboxparcels/Parcels</title>
                                </smartboxparcels_adminform>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <sales>
                <children>
                    <smartbox_smartboxparcels translate="title" module="smartbox_smartboxparcels">
                        <title>Smartbox</title>
                        <sort_order>31</sort_order>
                        <action>smartboxparcels/adminhtml_smartboxparcels</action>
                    </smartbox_smartboxparcels>
                </children>
            </sales>
        </menu>
        <layout>
            <updates>
                <smartbox_smartboxparcels>
                    <file>smartboxparcels.xml</file>
                </smartbox_smartboxparcels>
            </updates>
        </layout>
	</adminhtml>
    
	
</config>
